<div id="<%= dom_id coffee %>">
  <p>
    <strong>Owner:</strong>
    <%= coffee.owner_id %>
  </p>

  <p>
    <strong>Species:</strong>
    <%= coffee.species %>
  </p>

  <p>
    <strong>Varietal:</strong>
    <%= coffee.varietal %>
  </p>

  <p>
    <strong>Process:</strong>
    <%= coffee.process %>
  </p>

  <p>
    <strong>Elevation:</strong>
    <%= coffee.elevation %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= coffee.region %>
  </p>

  <p>
    <strong>Subregion:</strong>
    <%= coffee.subregion %>
  </p>

  <p>
    <strong>Roast level:</strong>
    <%= coffee.roast_level %>
  </p>

  <p>
    <strong>Roast date:</strong>
    <%= coffee.roast_date %>
  </p>

  <p>
    <strong>Cup score:</strong>
    <%= coffee.cup_score %>
  </p>

  <p>
    <strong>Tasting notes:</strong>
    <%= coffee.tasting_notes %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= coffee.name %>
  </p>

  <p>
    <strong>Roaster:</strong>
    <%= coffee.roaster %>
  </p>

  <p>
    <strong>Producer:</strong>
    <%= coffee.producer %>
  </p>

  <p>
    <strong>Favorite:</strong>
    <%= coffee.favorite %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= coffee.notes %>
  </p>

</div>
