<div id="<%= dom_id brewer %>">
  <p>
    <strong>Owner:</strong>
    <%= brewer.owner_id %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= brewer.brand %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= brewer.name %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= brewer.material %>
  </p>

  <p>
    <strong>Geometry:</strong>
    <%= brewer.geometry %>
  </p>

</div>
