<%= form_with(model: brewer) do |form| %>
  <% if brewer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(brewer.errors.count, "error") %> prohibited this brewer from being saved:</h2>

      <ul>
        <% brewer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :owner_id, style: "display: none" %>
    <%= form.number_field :owner_id, value: current_user.id, readonly: true, style: "display: none" %>
  </div>

  <div>
    <%= form.label :brand, style: "display: block" %>
    <%= form.text_field :brand %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :material, style: "display: block" %>
    <%= form.text_field :material, placeholder: "Plastic, Metal" %>
  </div>

  <div>
    <%= form.label :geometry, style: "display: block" %>
    <%= form.text_field :geometry, placeholder: "Conical, Flat"  %>
  </div>

<br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
