<div id="<%= dom_id grinder %>">
  <p>
    <strong>Owner:</strong>
    <%= grinder.owner_id %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= grinder.brand %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= grinder.name %>
  </p>

  <p>
    <strong>Power:</strong>
    <%= grinder.power %>
  </p>

  <p>
    <strong>Burr type:</strong>
    <%= grinder.burr_type %>
  </p>

  <p>
    <strong>Burr:</strong>
    <%= grinder.burr %>
  </p>

</div>
