<p style="color: green"><%= notice %></p>

<%= render @grinder %>

<div>
  <%= link_to "Edit this grinder", edit_grinder_path(@grinder) %> |
  <%= link_to "Back to grinders", grinders_path %>

  <%= button_to "Destroy this grinder", @grinder, method: :delete %>
</div>
