<div class="container text-center">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag("Siplog_logo.png", alt: "Siplog Logo", class: "img-fluid mb-4", width: 500) %>
    </div>
    <div class="col-md-4">
      <h1>Streamline your coffee experience with Siplog</h1>
      <br>
      <h4><i class="fa-solid fa-mug-saucer" style="color: #005eff;"></i> Store your favorite coffees</h4>
      <h4><i class="fa-solid fa-screwdriver-wrench" style="color: #005eff;"></i> Keep track of your coffee tools</h4>
      <h4><i class="fa-solid fa-mountain-sun" style="color: #005eff;"></i> Learn about your coffee journey</h4>
    </div>

    <div class="col-md-4">
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title mb-4">Log in</h2>

                <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="text-center">
                    <%= f.input :email,
                              label: false,
                              required: true,
                              input_html: {
                                class: "form-control",
                                id: "email",
                                aria_describedby: "emailHelp",
                                placeholder: "Email"
                              },
                              wrapper_html: { class: "form-group" } %>
                  </div>
                  <br>
                  <div class="form-group">
                    <%= f.input :password,
                              label: false,
                              required: false,
                              input_html: {
                                class: "form-control",
                                id: "password",
                                placeholder: "Password",
                                autocomplete: "current-password"
                              },
                              label_html: { class: "form-label mt-4" } %>
                  </div>
                  <div class="form-group m-3">
                    <%= f.input :remember_me,
                              as: :boolean if devise_mapping.rememberable? %>
                  </div>
                  <div class="form-actions">
                    <%= f.button :submit, "Log in", class:"btn btn-primary" %>
                  </div>
                <% end %>

                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
