<div class="card">
  <div class="card-header">
    <h1>New log
      <h1>
      </div>
      <div class="card-body">
        <%= form_with(model: log, class: "d-inline-block", data: {remote: true}) do |form| %>

          <% if log.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>
              <ul>
                <% log.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="row">
            <div class="col-md-6">

              <div class="mb-3">
                <%= form.label :owner_id, style: "display: none" %>
                <%= form.number_field :owner_id, value: current_user.id, readonly: true, style: "display: none", class: 'form-control ' %>
              </div>

              <div class="mb-3">
                <%= form.label :coffee_id, style: "display: block", class: 'form-label' %>
                <%= form.collection_select :coffee_id, current_user.coffees, :id, :name, { prompt: 'Select a coffee' }, class: 'form-select' %>
              </div>

              <div class="mb-3">
                <%= form.label :grinder_id, style: "display: block", class: 'form-label' %>
                <%= form.collection_select :grinder_id, current_user.grinders, :id, :name, { prompt: 'Select a grinder' }, class: 'form-select' %>
              </div>

              <div class="mb-3">
                <%= form.label :brewer_id, style: "display: block", class: 'form-label' %>
                <%= form.collection_select :brewer_id, current_user.brewers, :id, :name, { prompt: 'Select a brewer' }, class: 'form-select ' %>
              </div>

              <div class="mb-3">
                <%= form.label :filter_paper, style: "display: block" %>
                <%= form.text_field :filter_paper, placeholder: "abaca, sibarist, hario", class: 'form-control' %>
              </div>

              <div class="mb-3">
                <%= form.label :photo, class: 'form-label' %>
                <%= form.file_field :photo, class: 'form-control' %>
              </div>

     <div class="mb-3">
  <%= form.label :date_time, style: "display: block" %>
  <%= form.datetime_field :date_time, class: 'form-control', value: Time.current.strftime("%Y-%m-%dT%H:%M:%S") %>
</div>



              <div class="mb-3">
                <%= form.label :rating, style: "display: block" %>
                <%= form.number_field :rating, placeholder: "1-100", class: 'form-control' %>
              </div>
            </div>

            <div class="col-md-6">

              <div class="mb-3">
                <%= form.label :dosage, style: "display: block" %>
                <%= form.number_field :dosage, placeholder: "in grams", class: 'form-control' %>
              </div>

              <div class="mb-3">
                <%= form.label :grind_size, style: "display: block" %>
                <%= form.number_field :grind_size, class: 'form-control' %>
              </div>

              <div class="mb-3">
                <%= form.label :water_temperature, style: "display: block" %>
                <%= form.number_field :water_temperature, placeholder: "fahrenheit", class: 'form-control' %>
              </div>

              <div class="mb-3">
                <%= form.label :water_type, style: "display: block" %>
                <%= form.text_field :water_type, placeholder: "Tap, Spring, Holy", class: 'form-control' %>
              </div>

              <div class="mb-3">
                <%= form.label :bloom_water, style: "display: block" %>
                <%= form.number_field :bloom_water, placeholder: "in grams", class: 'form-control' %>
              </div>

              <div class="mb-3">
                <%= form.label :total_water, style: "display: block" %>
                <%= form.number_field :total_water, placeholder: "in grams", class: 'form-control' %>
              </div>

              <div class="col-md-12 ms-auto">

                <div class="mb-3">
                  <%= form.label :bloom_time_seconds, style: "display: block" %>
                  <%= form.number_field :bloom_time_seconds, class: 'form-control' %>
                </div>

                <div class="mb-3">
                  <%= form.label :brew_time_seconds, style: "display: block" %>
                  <%= form.number_field :brew_time_seconds, class: 'form-control' %>
                </div>

              </div>
            </div>
            <div>

              <div class="mb-3">
                <%= form.label :notes, style: "display: block" %>
                <%= form.text_area :notes, class: 'form-control' %>
              </div>

              <div class="btn-group-toggle mt-3" data-toggle="buttons">
                <%= form.label :favorite, class: "btn btn-outline-primary" do %>
                  <%= form.check_box :favorite, autocomplete: "off" %>
                  Favorite
                <% end %>
              </div>

            </div>
            <br>
            <div class="actions d-grid gap-2">
              <br>
              <%= form.submit class: "btn btn-primary btn-lg" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
