<div id="<%= dom_id log %>">

  <p>
    <strong>Photo:</strong>
    <img src="<%= log.photo %>">
  </p>

  <p>
    <strong>Owner:</strong>
    <%= log.owner_id %>
  </p>

  <p>
    <strong>Coffee:</strong>
    <%= log.coffee_id %>
  </p>

  <p>
    <strong>Grinder:</strong>
    <%= log.grinder_id %>
  </p>

  <p>
    <strong>Brewer:</strong>
    <%= log.brewer_id %>
  </p>

  <p>
    <strong>Filter paper:</strong>
    <%= log.filter_paper %>
  </p>

  <p>
    <strong>Dosage:</strong>
    <%= log.dosage %> grams
  </p>

  <p>
    <strong>Water temperature:</strong>
    <%= log.water_temperature %>°F
  </p>

  <p>
    <strong>Water type:</strong>
    <%= log.water_type %>
  </p>

  <p>
    <strong>Grind size:</strong>
    <%= log.grind_size %>
  </p>

  <p>
    <strong>Bloom time</strong>
    <%= log.bloom_time_seconds %> seconds
  </p>

  <p>
    <strong>Brew time</strong>
    <%= log.brew_time_seconds %> seconds
  </p>

  <p>
    <strong>Bloom water:</strong>
    <%= log.bloom_water %> grams
  </p>

  <p>
    <strong>Total water:</strong>
    <%= log.total_water %> grams
  </p>

  <p>
    <strong>Date time:</strong>
    <%= log.date_time %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= log.rating %> points
  </p>

  <p>
    <strong>Notes:</strong>
    <%= log.notes %>
  </p>

  <p>
    <strong>Favorite:</strong>
    <%= log.favorite %>
  </p>

</div>
